http://pandas.pydata.org/pandas-docs/stable/10min.html

# 10 Minutes to pandas

This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the [Cookbook](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Customarily, we import as follows:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

## Object Creation

See the [Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

In [ ]:
# TODO: Print s here:

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [ ]:
dates = pd.date_range('20130101', periods=6)

In [ ]:
# TODO: Print dates here:

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
# TODO: Print df here:

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([3]*4,dtype='int32'),
                   'E':pd.Categorical(["test","train","test","train"]),
                   'F':'foo'})

In [ ]:
df2

Having specific [dtypes](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes)

In [ ]:
# TODO: Show the types of df2's columns using dtypes:

## Viewing Data

See the [Basics section](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics)

See the top & bottom rows of the frame

In [ ]:
# TODO: Print the head of the data:

In [ ]:
# TODO: Print the tail of the data:
df.tail(3)

Display the index, columns, and the underlying numpy data

In [ ]:
# TODO: Print the index of df

In [ ]:
# TODO: Print the columns of df

In [ ]:
# TODO: Print the underlying numpy data of df

Describe shows a quick statistic summary of your data

In [ ]:
# TODO: Describe df

Transposing your data

In [ ]:
# TODO: Transpose and print df, do not override the object

Sorting by value

In [ ]:
# TODO: Sort the rows of df by the values of column B, descending

## Selection

**Note:** While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

See the indexing documentation [Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and [MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)

### Getting

Selecting a single column, which yields a Series, equivalent to df.A

In [ ]:
df['A']

Selecting via [], which slices the rows.

In [ ]:
df[0:3]

In [ ]:
df['20130102':'20130104']

### Selection by Label

See more in [Selection by Label](Selection by Label)

For getting a cross section using a label

In [ ]:
df.loc[dates[0]]

Selection by Label

In [ ]:
df.loc[:,['A','B']]

Showing label slicing, both endpoints are included

In [ ]:
df.loc['20130102':'20130104',['A','B']]

Reduction in the dimensions of the returned object

In [ ]:
df.loc['20130102',['A','B']]

For getting a scalar value

In [ ]:
df.loc[dates[0],'A']

### Selection by Position

See more in [Selection by Position](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)

Select via the position of the passed integers

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python

In [ ]:
df.iloc[3:5,0:2]

By lists of integer position locations, similar to the numpy/python style

In [ ]:
df.iloc[[1,2,4],[0,2]]

For slicing rows explicitly

In [ ]:
df.iloc[1:3,:]

For slicing columns explicitly

In [ ]:
df.iloc[:,1:3]

For getting a value explicitly

In [ ]:
df.iloc[1,1]

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.iat[1,1]

## Boolean Indexing

Using a single column’s values to select data.

In [ ]:
df[df.A > 0]

In [ ]:
# TODO: print df where the values of B are larger to 0.1

A where operation for getting.

In [ ]:
df[df > 0]

Using the isin() method for filtering:

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one','one', 'two','three','four','three']

In [ ]:
df2

In [ ]:
# TODO: print df2 where df2[E]'s values are either 'two' or 'four'
df2[df2['E'].isin(['two','four'])]

### Stats

Operations in general exclude missing data.

Performing a descriptive statistic

In [ ]:
df.mean()

Same operation on the other axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [ ]:
s

In [ ]:
df.sub(s, axis='index')

### Apply

Applying functions to the data

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# TODO: apply np.square only on column A of the dataframe: (use axis=1, lambda row: row['A'])

### Histogramming

See more at [Histogramming and Discretization](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization)

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [ ]:
s

In [ ]:
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
s.str.lower()

## Grouping

By “group by” we are referring to a process involving one or more of the following steps

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

See the [Grouping section](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                     'D' : np.random.randn(8)})

In [ ]:
df

Grouping and then applying a function sum to the resulting groups.

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()